<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>announce_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{763,30}</string>
                <key>spriteSourceSize</key>
                <string>{763,30}</string>
                <key>textureRect</key>
                <string>{{127,1},{763,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottom_bg_hall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1311,62}</string>
                <key>spriteSourceSize</key>
                <string>{1311,62}</string>
                <key>textureRect</key>
                <string>{{63,1},{1311,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_announce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{428,1307},{58,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{73,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,97}</string>
                <key>textureRect</key>
                <string>{{433,1425},{73,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{152,74}</string>
                <key>textureRect</key>
                <string>{{174,1493},{152,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,94}</string>
                <key>spriteSourceSize</key>
                <string>{201,94}</string>
                <key>textureRect</key>
                <string>{{78,1493},{201,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{132,133}</string>
                <key>textureRect</key>
                <string>{{251,1345},{132,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongdian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{127,766},{20,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{429,1159},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{376,1284},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,73}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{419,1367},{56,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_proxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,146}</string>
                <key>spriteSourceSize</key>
                <string>{171,146}</string>
                <key>textureRect</key>
                <string>{{78,1345},{171,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_rank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,73}</string>
                <key>textureRect</key>
                <string>{{429,1234},{66,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,92}</string>
                <key>spriteSourceSize</key>
                <string>{133,92}</string>
                <key>textureRect</key>
                <string>{{339,1480},{133,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_event_bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,405}</string>
                <key>spriteSourceSize</key>
                <string>{304,405}</string>
                <key>textureRect</key>
                <string>{{159,467},{304,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_event_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,408}</string>
                <key>spriteSourceSize</key>
                <string>{300,408}</string>
                <key>textureRect</key>
                <string>{{127,874},{300,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_event_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{328,464}</string>
                <key>spriteSourceSize</key>
                <string>{344,466}</string>
                <key>textureRect</key>
                <string>{{159,1},{328,464}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_event_copybtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,86}</string>
                <key>spriteSourceSize</key>
                <string>{216,86}</string>
                <key>textureRect</key>
                <string>{{251,1480},{216,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_event_saveurlbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,59}</string>
                <key>spriteSourceSize</key>
                <string>{247,59}</string>
                <key>textureRect</key>
                <string>{{127,1284},{247,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,24}</string>
                <key>spriteSourceSize</key>
                <string>{49,24}</string>
                <key>textureRect</key>
                <string>{{174,1647},{49,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pagePath0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{465,467},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pagePath1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{63,1314},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,75}</string>
                <key>spriteSourceSize</key>
                <string>{277,75}</string>
                <key>textureRect</key>
                <string>{{1,1389},{277,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pay2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,48}</string>
                <key>spriteSourceSize</key>
                <string>{283,48}</string>
                <key>textureRect</key>
                <string>{{429,874},{283,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,94}</string>
                <key>spriteSourceSize</key>
                <string>{67,94}</string>
                <key>textureRect</key>
                <string>{{339,1615},{67,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_bg_hall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1386,60}</string>
                <key>spriteSourceSize</key>
                <string>{1386,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{1386,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,32}</string>
                <key>spriteSourceSize</key>
                <string>{87,32}</string>
                <key>textureRect</key>
                <string>{{385,1336},{87,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{496,1697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb6f8796418b1fff06a341f7e74056c1:3fd5dd3c954f4df2d831e162e5cfb4f7:333c9ff079a5b8ddfb0c61408e972979$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
