<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadingBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{623,24}</string>
                <key>spriteSourceSize</key>
                <string>{637,44}</string>
                <key>textureRect</key>
                <string>{{1,47},{623,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loadingBar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,44}</string>
                <key>spriteSourceSize</key>
                <string>{637,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{637,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{639,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65f79f8572926b0622b886bab28b6043:1a5593726a39f0cfb6f17c0e66b183b4:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
