<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{522,457}</string>
                <key>spriteSourceSize</key>
                <string>{522,457}</string>
                <key>textureRect</key>
                <string>{{1,1},{522,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_bg_account.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,77}</string>
                <key>spriteSourceSize</key>
                <string>{58,77}</string>
                <key>textureRect</key>
                <string>{{779,439},{58,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_bg_account_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,70}</string>
                <key>spriteSourceSize</key>
                <string>{360,70}</string>
                <key>textureRect</key>
                <string>{{525,57},{360,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_bg_txt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,57}</string>
                <key>spriteSourceSize</key>
                <string>{277,57}</string>
                <key>textureRect</key>
                <string>{{886,185},{277,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_btn_get_code.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,47}</string>
                <key>spriteSourceSize</key>
                <string>{121,47}</string>
                <key>textureRect</key>
                <string>{{945,367},{121,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_btn_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,86}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{525,280},{252,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_other.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,86}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{525,368},{252,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,86}</string>
                <key>spriteSourceSize</key>
                <string>{252,86}</string>
                <key>textureRect</key>
                <string>{{798,185},{252,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,93}</string>
                <key>spriteSourceSize</key>
                <string>{271,93}</string>
                <key>textureRect</key>
                <string>{{525,185},{271,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_btn_switch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,43}</string>
                <key>spriteSourceSize</key>
                <string>{112,43}</string>
                <key>textureRect</key>
                <string>{{525,456},{112,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_panel_btn_clear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{887,57},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_panel_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{77,74}</string>
                <key>spriteSourceSize</key>
                <string>{81,84}</string>
                <key>textureRect</key>
                <string>{{943,1},{77,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_panel_title_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,55}</string>
                <key>spriteSourceSize</key>
                <string>{285,55}</string>
                <key>textureRect</key>
                <string>{{945,80},{285,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_panel_title_register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,54}</string>
                <key>spriteSourceSize</key>
                <string>{367,54}</string>
                <key>textureRect</key>
                <string>{{525,129},{367,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_panel_title_reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,54}</string>
                <key>spriteSourceSize</key>
                <string>{416,54}</string>
                <key>textureRect</key>
                <string>{{525,1},{416,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1018,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0373507688f3e0a04a7fbed52c9710a:18c73da6da926304201db82bb4e4fc40:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
